.Side-bar
  .Side-bar__user-list
    .Top-items
      .Top-items__name
        = current_user.name
      .Top-items__icons
      = link_to "#", class: "Top-items__icons__btn Top-items__icons__btn--edit" do
        = icon("far","edit", class: "Top-items__btn--icon")
      = link_to edit_user_path(current_user), class: "Top-items__icons__btn Top-items__icons__btn--cog" do
        = icon("fa","cog", class: "Top-items__btn--icon")
  .Side-bar__group-list
    .List-box
      .List-box__group-name
        techcamp
      .List-box__post-message
        メッセージはまだありません。
    .List-box
      .List-box__group-name
        techcamp
      .List-box__post-message
        メッセージはまだありません。
    .List-box
      .List-box__group-name
        techcamp
      .List-box__post-message
        メッセージはまだありません。
    .List-box
      .List-box__group-name
        techcamp
      .List-box__post-message
        メッセージはまだありません。
    .List-box
      .List-box__group-name
        techcamp
      .List-box__post-message
        メッセージはまだありません。